<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark w-100">
        <div class="container">
            @Html.ActionLink("CarLeasing.pl", "Index", "Index", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    @if (Session["UserId"] != null)
                    {
                        using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Session["FullName"]
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    @Html.ActionLink("Profil", "Index", "Account", new { area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Edytuj", "Edit", "Account", new { area = "" }, new { @class = "dropdown-item" })
                                    <div class="dropdown-divider"></div>
                                    @if (Session["Role"].ToString() == "admin")
                                    {
                                        @Html.ActionLink("Panel admina", "Index", "AdminPanel", new { area = "" }, new { @class = "dropdown-item" })
                                    }
                                    else if (Session["Role"].ToString() == "klient")
                                    {
                                        @Html.ActionLink("Zamówienia", "Index", "ClientPanel", new { area = "" }, new { @class = "dropdown-item" })
                                    }
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink(" Wyloguj", "Logout", "Login", new { area = "" }, new { @class = "dropdown-item" })
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Zaloguj", "Index", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Zarejestruj", "Index", "Register", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer class="mx-auto w-100 d-flex">
            <p>&copy; @DateTime.Now.Year - CarLeasing.pl</p>
            <img src="~/Content/Images/footer.png" class="img-fluid footerImg position-absolute"/>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
