@model CarLeasing.Models.uzytkownik

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/AccountIndex.css" rel="stylesheet" />
<div class="row mx-4">
    <div class="col-12 pt-3 pr-5 bgHeader">
        @Html.DisplayFor(model => model.imie) @Html.DisplayFor(model => model.nazwisko)
    </div>
    <div class="col-1"></div>
    <div class="col-4 profile rounded">
        <div class="userImgContainer">
            <img src="~/Content/Images/Account/user.png" class="userImg rounded-circle img-fluid" />
        </div>
        <p class="text-center mt-2">
            @Html.ActionLink("Edytuj", "Edit", new { id = Model.id_uzytkownik })
        </p>
        <div class="pt-4">
            <ul>
                <li> @Html.DisplayFor(model => model.email)</li>
                <li> @Html.DisplayFor(model => model.telefon)</li>
            </ul>
        </div>
        <div class="text-right">
            @Html.ActionLink("Usuń", "Delete", new { id = Model.id_uzytkownik }, htmlAttributes: new { @class = "btn btn-danger mt-4" })
        </div>
    </div>
</div>

