@model CarLeasing.Models.samochod

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>samochod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kolor.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kolor.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parametr.opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parametr.opis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
