@model IEnumerable<CarLeasing.Models.samochod>
<link href="~/Content/Index.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
<header class="row">
    <div class="col-12">
        <div class="headerText"><span class="headerWord">Wielkie </span>kroki wymagają <span class="headerWord">odważnych</span> decyzji</div>
    </div>
</header>
<section class="row px-5 catalog">
    <div class="form-horizontal">
        <div class="form-group">
            @using (Html.BeginForm("GetCarsByModel", "Index", FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            <div class="col-md-12">
                <div class="row  text-center text-md-left text-lg-center justify-content-center">
                    <div class="col-12 mb-3 font-weight-bold">Bogaty katalog w jednym miejscu!</div>
                    <div class="col-12 col-sm-6 col-md-12 col-lg-6 d-flex justify-content-lg-end">@Html.DropDownList("marka", null, htmlAttributes: new { id = "marka", @class = "form-control" })</div>
                    <div class="col-12 mt-3 mt-sm-0 mt-md-3 mt-lg-0 col-sm-6 col-md-12 col-lg-6 d-flex justify-content-start">@Html.DropDownList("model", null, htmlAttributes: new { id = "model", @class = "form-control" })</div>
                    <div class="col-md-12">
                        <input type="submit" value="Wyszukaj" class="btn btn-default btnOrange mt-3"/>
                    </div>
                </div>
                <img class="d-none d-md-block position-relative img-fluid cars" src="~/Content/Images/Index/cars.png" />
            </div>
            }
        </div>
    </div>
    <img class="d-none d-md-block position-absolute paint img-fluid" src="~/Content/Images/Index/paint.png" />
</section>
<section class="row px-5 py-5 testDrive">
    <div class="col-lg-10 col-12 mx-auto">
        <div class="row rounded race ml-0">
            <div class="col-lg-6 position-relative rounded p-5">
                <div class="textTestDrive mt-lg-5">
                    Poskrom jedną z maszyn i udaj się na jazdę testową już dziś!
                </div>
                <img src="~/Content/Images/Index/car.png" class="img-fluid mt-5"/>
            </div>
            <div class="col-lg-6 positsamochodsion-relative px-0">
                <img class="img-fluid rounded mx-auto mx-lg-0 d-flex d-lg-inline-flex py-lg-5" src="~/Content/Images/Index/testdrive.jpg" />
            </div>
        </div>
    </div>
</section>
<section class="row px-5 py-5 cons text-light">
    <div class="col-12">
        <div class="row rounded">
            <div class="col-md-6">
                <img class="img-fluid" src="~/Content/Images/Index/cons.jpg" />
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center textShowClass">Pokaż sie z klasą</div>
        </div>
    </div>
</section>
<section class="row px-5 py-5 text-dark carShow">
    <div class="w-100">
        @foreach (var item in Model.Take(3))
        {
            <div class="col-xl-4 col-lg-6 col-12">
                <div class="card">
                    <h5 class="card-title text-center py-3 font-italic">@item.parametr.model.marka.nazwa @item.parametr.model.nazwa</h5>
                    @foreach (var value in item.zdjecie.Take(1))
                    {
                        <img src='@value.url' class="cardImg rounded-0 card-img-top border-secondary">
                    }
                <div class="card-body text-center font-weight-bold">
                    @{ var price = Math.Round(item.cena, 2); }
                    Cena od: @price zł
                </div>
                </div>
            </div>
        }
    </div>
</section>
<section class="row px-5 carCategories py-5">
    <div class="col-12 text-center">
        <button class="glow-on-hover" type="button">Sprawdź</button>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        function manufacturerList() {
        $("#model").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetModelList")',
                dataType: 'json',
                data: { id: $("#marka").val() },
                success: function (m) {
                    $.each(m, function (i, item) {
                        $("#model").append('<option value="' + item.Value + '">' + item.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Fail.' + ex);
                }
            });
        }
        $(document).ready(function () {
            manufacturerList();
            $("#marka").change(function () {
                manufacturerList();
            });
        });
    </script>
}