@model IEnumerable<CarLeasing.Models.marka>

@{
    ViewBag.Title = "Index";
}
<p class="font-weight-bold">
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Opis
        </th>
        <th>
            Logo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opis)
        </td>
        <td>
            <img src=@item.logo />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_marka }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_marka })
        </td>
    </tr>
}

</table>
